@use '../../../assets/scssVariables' as *;

.section {
  width: 100%;
  padding: 80px 0;

  @media (max-width: $tabletThreshold) {
    padding: 40px 0;
  }
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $mobilePadding;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;

  @media (max-width: $tabletThreshold) {
    gap: 28px;
  }
}
