.italic {
  font-style: italic;
}

.centered {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.underline {
  text-decoration: underline;
}

.innerline {
  display: flex;
  flex-direction: row;
}
.innerline:before,
.innerline:after {
  content: '';
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.innerline:before {
  margin-right: 30px;
}
.innerline:after {
  margin-left: 30px;
}
